@charset 'UTF-8';
body{
    background: linear-gradient(to right, #D93231, #DE8C38, #E5DC39, #5C982C, #314FB0, #7B1684);
    background-attachment: fixed;
}
main{
    width: 50%;
    margin: auto;
}
h2{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.233);
    
}
h3{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.233);
}
article > p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    color: white;
}
section > img{
    text-align: center;
    max-width: 800px;
    margin: 20px;
}
a.video{
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    text-align: center;
}
section > p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    color: white;
    margin: auto;
}
#imagem{
    text-align: center;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.288);
}
.sec{
    text-align: center;
}
.par{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.but{
    background: linear-gradient(to right, #D93231, #DE8C38, #E5DC39, #5C982C, #314FB0, #7B1684);
    border-radius: 5px ;
    animation: backwards;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
    cursor: pointer;
}
.but:hover{
    transform: scale(1, 1.1);
}